---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Gallery from '../components/Gallery.astro'
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="Welcome to Cloud Accesorios">

	<Navbar></Navbar>	
	<main class="flex flex-col justify-center">
		<section class="bg-[#eeeff5] dark:bg-gray-900 block md:flex w-full h-screen items-center">
			<div class="py-8 px-4 mx-auto max-w-screen-xl text-left lg:py-16">
				<h1 class="mb-4 text-4xl text-center font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"><span class=" bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Nuestra tienda: Cloud Accesorios</span></h1>
				<p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Somos tu destino para accesorios de bijouterie únicos y de alta calidad. Descubre una amplia gama de piezas que complementarán cualquier atuendo con estilo y elegancia. ¡Explora nuestra colección hoy!</p>
				<div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
					<a href="#productos" class="inline-flex justify-center items-center py-3 px-5 text-base font-extrabold text-center text-white rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
						Explora Ahora
					</a>
					<a href="#" class="inline-flex justify-center items-center py-3 px-5 sm:ms-4 text-base font-bold text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
						<span class=" bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Contacto</span>
					</a>  
				</div>
			</div>

			<img src="/tienda.webp" alt="Tienda de Clouds Accesorios" class="w-full h:2/5 md:w-2/5 object-cover rounded-xl md:h-full">
		</section>

		<section id="nosotros" class="bg-[#eeeff5] dark:bg-gray-900 block md:flex w-full h-screen items-center">
			<img src="/nosotros.webp" alt="About de Clouds Accesorios" class="w-full md:w-2/5 object-cover rounded-xl md:m-4 h-2/5">
			<div class="py-8 px-4 mx-auto max-w-screen-xl text-left lg:py-16">
				<h2  class="mb-4 text-4xl text-center font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"><span class=" bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Sobre nosotros</span></h2>
				<p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">¿Quienes somos?</p>
				<p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Cloud Accesories es una boutique especializada en ofrecer accesorios exclusivos y de tendencia. Nuestro equipo está comprometido con brindar una experiencia de compra excepcional y ayudarte a encontrar la pieza perfecta.</p>
			</div>
		</section>

		<section id="productos" class="bg-[#eeeff5] dark:bg-gray-900 block md:flex md:flex-col w-full">
			<h2  class="mb-20 text-4xl text-center font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"><span class=" bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Nuestros productos</span></h2>
			<div class="flex flex-col justify-center items-center md:flex-row md:justify-evenly">
				<Card title="Elegantes Aros">
					<p class="font-normal text-gray-700 dark:text-gray-400">Descubre nuestra colección de aros elegantes y sofisticados, perfectos para cualquier ocasión.</p>
				</Card>
				<Card title="Pulseras Únicas">
					<p class="font-normal text-gray-700 dark:text-gray-400">Explora nuestra selección de pulseras únicas que agregarán un toque de estilo a tu look diario.</p>
				</Card>
				<Card title="Collares Exquisitos">
					<p class="font-normal text-gray-700 dark:text-gray-400">Sumérgete en nuestra variedad de collares exquisitos que elevarán tu estilo a un nuevo nivel.</p>
				</Card>
				<Card title="Anillos Exepcionales">
					<p class="font-normal text-gray-700 dark:text-gray-400">Sumérgete en nuestra variedad de anillos que elevarán tu estilo a un nuevo nivel y son perfectos para cualquier ocasión.</p>
				</Card>
			</div>
			<h2 class="m-20 text-4xl text-center font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"><span class=" bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Galeria</span></h2>
			<Gallery/>
		</section>

		<section id="contacto" class="bg-[#eeeff5] dark:bg-gray-900 block md:flex md:flex-col w-full">
			<h2  class="mb-20 text-4xl text-center font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"><span class=" bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Contactanos</span></h2>
			<div class=" flex flex-col justify-center items-center md:flex-row md:justify-evenly">
				<Card title="Envíanos un mensaje">
					<p class="font-normal text-gray-700 dark:text-gray-400">Si tienes alguna pregunta o consulta, no dudes en enviarnos un mensaje. ¡Estamos aquí para ayudarte!</p>
				</Card>
				<Card title="Síguenos en redes">
					<p class="font-normal text-gray-700 dark:text-gray-400">Si tienes alguna pregunta o consulta, no dudes en enviarnos un mensaje. ¡Estamos aquí para ayudarte!</p>
				</Card>
			</div>
		</section>
	</main>
	<Footer/>
	
</Layout>


