---

---

<div class="grid grid-cols-1 p-3 md:grid-cols-3 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/anillo.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/aritos.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/cadenitas.webp" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/gorras.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/pulsera.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/collares.webp" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/anillos.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/aros.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/products/perlitas.webp" alt="">
        </div>
    </div>
</div>
